

<body>

    <section class="Wrapper" style="padding: 0 !important; background-color: #F5F7FA">

        <section class="oneorder" style="background-color: white!important">
            <div style="min-height: 450px">
                <table style="margin: auto">
                    <tbody>
                        <tr>
                            <td style="padding: 10px">Nhập vào số điện thoại sử dụng đặt vé:</td>
                        </tr>
                        <tr>
                            <td style="padding: 10px">
                                <input name="ctl00$cphMain$txtContactPhone" id="cphMain_txtContactPhone" type="tel" class="size28 w300">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 10px; color: red">
                            </td>
                        </tr>
            <tr>
                <td colspan="2">
                    <div style="text-align: center">
                        <input type="submit" name="ctl00$cphMain$ctl00$btnGuiLienHe" value="Tiếp Tục" onclick="return onfilechange();" id="cphMain_ctl00_btnGuiLienHe" style="padding: 10px 20px; border-radius: 20px; background-color: orange; color: white; text-align: center; border: none">
                    </div>
                </td>
            </tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </section>

</body>