
<div style="width: 800px; margin: 0 auto; text-align: left">

    </p>
    <table class="tbl">
        <tbody>
            <tr>
                <td style="text-align: left; padding-right: 30px">


                    <style>
                        .CompName {
                            text-transform: uppercase;
                            text-align: center;
                            line-height: 30px;
                            border-bottom: dotted 1px #d7d7d7;
                            margin-bottom: 10px;
                            font-weight: 700;
                            font-size: 18px;
                        }

                        .textTT {
                            font-size: 16px;
                            font-weight: 700;
                            color: #444;
                            line-height: 1.5;
                        }

                        .text {
                            font-size: 16px;
                            line-height: 20px;
                        }

                        .add {
                            background: transparent url(/Abay/Pages/Payment/Style/gpsmap-icon-copy.png) no-repeat 0 7px;
                            line-height: 1.4;
                            font-size: 16px;
                            padding: 8px 0 5px 20px;
                        }

                        .line {
                            height: 1px;
                            border-bottom: dotted 1px #d7d7d7;
                            margin: 10px 0;
                        }
                    </style>

                    <h5 class="CompName">Công ty vé máy bay trực tuyến </h5>
                    <h6 class="textTT">Địa chỉ Văn phòng tại Hà Nội</h6>
                    <p class="add">324 Phố Huế, Quận Hai Bà Trưng, Hà Nội</p>
                    <p class="text"><b>Hotline:</b>19006091</p>

                    <p class="text"><b>Email:</b> <a href="mailto:contact.vn"</a></p>
                    <div class="line"></div>
                    <h6 class="textTT">Địa chỉ Văn phòng tại Tp. Hồ Chí Minh</h6>
                    <p class="add">52 Huỳnh Khương Ninh, Q1, Tp Hồ Chí Minh</p>
                    <p class="text"><b>Hotline:</b>19006091</p>

                    <p class="text"><b>Email:</b> <a href="mailto:contact.vn"></a></p>
                </td>
                <td style="text-align: left; vertical-align: baseline">
                    <h5 class="CompName1">&nbsp;</h5>
                    <h6 class="textTT">Thông tin liên hệ</h6>
                    <p><label>Thắc mắc &amp; góp ý:</label> <span>19006091</span></p><p><label>Phàn nàn &amp; khiếu nại:</label> <span>19006091</span></p><p><label>Liên hệ hóa đơn:</label> <span>19006091</span></p><p><label>Liên hệ thanh toán:</label> <span>19006091</span></p><p><label>Liên hệ đặt vé nội địa:</label> <span>19006091</span></p><p><label>Liên hệ đặt vé quốc tế:</label> <span>19006091</span></p><p><label>Liên hệ hợp tác:</label> <span>19006091</span></p><p><label>Liên hệ khác:</label> <span>19006091</span></p>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="line"></div>
                </td>
                <td>
                    <div class="line"></div>
                </td>
            </tr>
            <tr>
                <td style="text-align: left; vertical-align: baseline; padding-right:10px !important">
                    <div class="pax-order-related" style="height: 200px">

                        <div>
                            <label for="pax-name">Tên người gửi <span class="require">( * )</span></label><br>
                            <input name="ctl00$cphMain$ctl00$txtPaxName" type="text" id="cphMain_ctl00_txtPaxName" style="padding: 3px 5px">
                        </div>
                        <div>
                            <label for="pax-phone-number">Số điện thoại <span class="require">( * )</span></label><br>
                            <input name="ctl00$cphMain$ctl00$txtPhone" type="text" id="cphMain_ctl00_txtPhone" style="padding: 3px 5px">
                        </div>
                        <div>
                            <label for="pax-email">Email</label><br>
                            <input name="ctl00$cphMain$ctl00$txtEmail" type="text" id="cphMain_ctl00_txtEmail" style="padding: 3px 5px">
                        </div>

                    </div>
                </td>
                <td style="text-align: left; vertical-align: baseline">
                    <div class="pax-order-related">
                        <div>
                            <label for="pax-order-related-file">Chứng từ</label><br>
                            <input type="file" name="ctl00$cphMain$ctl00$fileAttach" id="cphMain_ctl00_fileAttach">
                        </div>
                        <div>
                            <label for="pax-order-note">Nội dung gửi <span class="require">( * )</span></label><br>
                            <textarea name="ctl00$cphMain$ctl00$txtNoiDung" rows="5" cols="20" id="cphMain_ctl00_txtNoiDung" placeholder="Quý khách vui lòng ghi rõ mã đơn hàng, vd: DH 1234567" style="padding: 5px"></textarea>
                        </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="text-align: center">
                        <input type="submit" name="ctl00$cphMain$ctl00$btnGuiLienHe" value="Gửi nội dung" onclick="return onfilechange();" id="cphMain_ctl00_btnGuiLienHe" style="padding: 10px 5px; border-radius: 5px; background-color: orange; color: white; text-align: center; border: none">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>