body{
    background-color:antiquewhite;
}
.nen {
    background-image: linear-gradient(#56aaff,#ffaa56);
}
element.style {
}

.service-method {
    background: #fff;
    padding: 10px 0 20px;
    margin: 10px 12px 0px 12px;
    border-top: solid 1px #c8c8c8;
}
element.style {
}

.service-method {
    background: #fff;
    padding: 10px 0 20px;
    margin: 10px 12px 0px 12px;
    border-top: solid 1px #c8c8c8;
}
h1{
    color:#56aaff;
}
a {
    color: #56aaff;
}
